/* You can add global styles to this file, and also import other style files */

body {
  overflow-x: hidden;
  background-color: #c1c1c14d;
  margin: 0px
}

ul {
  list-style: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Roboto';
  justify-content: space-evenly;
}

li {
  display: flex;
  width: 300px;
  margin: 10px 5px;
  max-width: 500px;
  min-width: 30vw;
}

li > .mat-card {
  background-color: #FFF;
  color: #847b7b;
}